/* Fonts */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* COMMON style */
html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
@keyframes image{
  0%{
    transform: rotate(-1deg);
  }
  50%{
    transform: rotate(1deg);
  }
  100%{
    transform: rotate(-1deg);
  }
}
.container{
  max-width: 1300px;
  padding-left: 100px;
  padding-right: 100px ;
  margin-right: auto;
  margin-left: auto;
}
.list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.section-header{
  max-width: 719px;
  margin: 0 auto;
  text-align: center;
}
.section-title{
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
}
.site-nav{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.header-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.4;
}
.nav-link{
  display: block;
  padding: 16px;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
}
.nav-link:hover{
  box-shadow: inset 0 -3px 0 0 #222;
}
.nav-link:active{
  background: rgba(25, 25, 25, 0.7);
  color: #FFFFFF;
  box-shadow: none;
}
.xizmatlar{
  position: relative;
}
.xizmatlar:hover .dropdown{
  display: block;
}
.dropdown{
  display: none;
  position: absolute;
  left: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transform: translateX(-50%);

}
.dropdown-link{
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
}
.dropdown-link:hover{
  background-color: #00BAFC;
  color: #fff;
}
.dropdown-link:active{
  background-color: rgba(0, 186, 252, 0.6);
  color: #fff;
}
.nav-link-number{
  padding: 5px 16px;
  border: 3px solid transparent;
  font-weight: bold;
  background: #00BAFC;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  white-space: nowrap;
}
.nav-link-number:hover{
  background-color: #fff;
  border-color: #00BAFC;
  color: #00BAFC;
}
.nav-link-number:active{
  background-color: rgba(0, 186, 252, 0.6);
  border-color: transparent;
  color: #fff;
}

/* Introduvtion-section */
.introduction-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px;
}
.introduction-info{
  display: flex;
  width: 470px;
  margin-right: 30px;
  flex-direction: column;
  align-items: flex-start;
}
.info-heading{
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
}
.info-text{
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.info-link{
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  color: #FFFFFF;
  background: #00BAFC;
  text-decoration: none;
}
.info-link:hover{
  background-color: rgba(0, 186, 252, 0.8);
}
.info-link:hover{
  background-color: rgba(0, 186, 252, 0.6);
}

.introduction-video-link{
  border-radius: 5px;
}
/* MAIN */
/* SERVICES */
.services{
  padding-top: 56px;
  padding-bottom: 56px;
}
.services-info-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.services-item{
  width: 320px;
  margin-bottom: 50px;
  padding: 24px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.services-item:hover{
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.services-item:not(:nth-child(3n)){
  margin-right: 70px;
}
.services-link{   
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}
.services-link::before{
  content: "";
  width: 223px;
  height: 130px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: image 3s linear infinite;
}
.websayt:before{
  background-image: url("../img/website-illustration@2x.png");
}
.telegrammbot::before{
  background-image: url("../img/bot-illustration@2x.png");
}
.SMM::before{
  background-image: url("../img/smm-illustration@2x.png");
}
.gdizayn::before{
  background-image: url("../img/design-illustration@2x.png");
}
.crm::before{
  background-image: url("../img/crm-illustration@2x.png");
}
.services-info-title{
  margin: 0;
  margin-top: 17px;
  margin-bottom: 16px;
}
/* .services-img{
  order: -1;
  height: 130px;
} */
.services-info-text{
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.services-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-button{
  margin-right: 16px;
  padding: 10px 16px;
  background: #00BAFC;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}
.services-footer .service-link{
  font-weight: normal;
  color: #00BAFC;
}

/* WORKING FEATURE */
.working-feature{
  padding-top: 56px;
  padding-bottom: 56px;
}
.working-feature-header{
  margin-bottom: 30px;
}
.feature-list{
  max-width: 830px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}
.feature-item{
  margin-bottom: 55px;
}
.feature-item:nth-child(2n) .feature-link::before{
  order: 2;
  margin-left: 50px;
  margin-right: 0;
}
.feature-link{
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}
.feature-link::before{
  content: "";
  width: 300px;
  height: 278px;
  margin-right: 50px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: image 3s linear infinite;
}
.talabimg::before{
  height: 278px;
  background-image: url("../img/talab.png");
}
.yechimimg::before{
  height: 224px;
  background-image: url("../img/yechim.png");
}
.loyihaimg::before{
  height: 258px;
  background-image: url("../img/loyiha.png");
}
.sifatimg::before{
  height: 171px;
  background-image: url("../img/sifat.png");
}
.qollabimg::before{
  height: 232px;
  background-image: url("../img/qollab-quvvatlash.png");
}
.feature-info{
  width: 500px;
}
.info-title{
  margin: 0;
}
.info-data{
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.feature-footer{
  text-align: center;
}

/* BOOK SECTION */
.book-section{
  background: #00BAFC;
}
.book-container{
  padding-top: 56px;
  padding-bottom: 56px;
}
.book-header{
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.book-title{
  margin: 0;
}
.book-info{
  margin-bottom: 24px;
}
.book-form{
  display: flex;
  flex-direction: column;
  width: 384px;
  padding: 24px;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 5px;
}
.input{
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  border: none;
  background: #F3F3F3;
  border-radius: 5px;
}
::placeholder{
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.book-book-button{
  align-self: center;
}

/* SITE FOOTER */
.site-footer{
  background-color: #191919;
}
.site-footer-container{
  display: flex;
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer-title{
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}
.copyright-info{
  margin: 0;
}
.copyright{
  width: 320px;
  margin-right: 100px;
  color: #FFFFFF;
}
.pages{
  margin-right: 100px;
}
.footer-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer-item + .footer-item{
  margin-top: 8px;
}
.footer-link{
  text-decoration: none;
  color: #FFFFFF;
}
.internet-link{
  display: flex;
}
.internet-link::before{
  margin-right: 8px;
  content: "";
  width: 22px;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}
.telegram::before{
  background-image: url("../img/tg.png");
}
.facebook::before{
  background-image: url("../img/fc.png");
}
.instagram::before{
  background-image: url("../img/ins.png");
}
.footer-link:hover{
  color: #00BAFC;
}
.page-link:active{
  color: rgba(0, 186, 252, 0.6);
}
.internet-link:active{
  opacity: 0.6;
}